.navbar {
  background-color: #2e2f32;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 5rem;
  font-size: 20px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

#close {
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
    margin: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  .navbar a {
    width: 70px;
    margin: 2rem;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .navbar a {
    width: 100px;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }
}