.photo {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
  margin-bottom: 150px;
  background-color: #000;
}

.photo img {
  margin-top: 10vw;
  height: 70%;
  box-shadow: 0px 10px 20px 10px rgba(255, 255, 255, 0.196);
}

.photo p {
  margin: 3rem;
  font-size: 20px;
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  .photo {
    grid-template-columns: 1fr 1fr;
    margin-top: 3vw;
  }
}

@media only screen and (max-width: 800px) {
  .photo {
    grid-template-columns: 1fr;
    margin-top: -3rem;
  }
}

@media only screen and (max-width: 800px) {
  .photo img {
    height: 50%;
  }
  .photo p {
    font-size: 25px;
    text-align: center;
  }
}