.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project h2 {
  margin-top: 8vw;
  margin-bottom: 3rem;
  color: #ffffffbf;
}
.project img {
  height: 70%;
  border-radius: 10px;
}

.project p {
  font-size: 22px;
  color: #ffffffbf;
}

.project svg {
  margin-top: 10px;
  font-size: 48px;
  color: #ffffffbf;
}

.project-icon {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 2rem auto 0 auto;
}

@media only screen and (max-width: 1300px) {
  .project {
    grid-template-columns: 1fr 1fr;
    margin-top: 3vw;

  }
}

@media only screen and (max-width: 800px) {
  .project {
    grid-template-columns: 1fr;
    margin-top: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  .project img {
    height: 40%;
  }
  .project p {
    font-size: 25px;
    text-align: center;
  }
  .project-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}