.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.project h1 {
  margin-top: 11vw;
  color: #2e2f32;
  font-size: 30px;
}
.project img {
  height: 70%;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: #2e2f32;
}

.project svg {
  margin-top: 10px;
  font-size: 60px;
  color: #2e2f32;
}

.project-icon {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 2rem auto 0 auto;
}

@media only screen and (max-width: 1300px) {
  .project {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .project {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .project img {
    height: 40%;
  }
  .project p {
    font-size: 32px;
  }
  .project-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}